@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
$primary: #000227;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;

* {
  color: white;
  background-color: #000227;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  margin: 0 5%;
}
.yellow {
  color: #e3cd00;
}
///////////////////////////////////
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  img {
    height: 60px;
    margin: 10px;
  }
}

.navbar-links {
  height: 100%;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  li:hover {
    background-color: #555;
  }
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    transition: 2s;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    li {
      border: 1px solid white; /* BORDER TEST*/
      margin-bottom: 20px;
    }

    ul {
      width: 100%;
      flex-direction: column;
    }

    ul li {
      text-align: center;
    }

    ul li a {
      padding: 0.5rem 1rem;
    }
  }

  .navbar-links.active {
    display: flex;
  }
}

///////////////////////////////////
.main {
  margin: 20px 0;
  width: 100%;

  border: 1px solid red; /* BORDER TEST*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    width: 100%;
  }
  h1 {
    font-size: 24px;
    line-height: 58px;
  }
  h2 {
    font-size: 16px;
    line-height: 26px;
  }
}
///////////////////////////////////

.buttons {
  border: 1px solid #ffffff;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  button {
    font-size: 0.6rem;
    border: 1px solid white;
    width: 25%;
    //min-width: 120px;
    padding: 5px;
    font-weight: 800;
  }
}

.tg {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
  td {
    border-color: white;
    border-style: solid;
    border-width: 1px;

    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
}

///////////////////////////////////
.footer {
  display: flex;
  height: 200vh;
}
