@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 650px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  * {
    font-size: 22px;
  }
}

h5 {
  font-size: 0.8rem;
}

a {
  color: white;
}

body {
  color: white;
  background-color: #000227;
  margin: 0 5%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1400px;
}

.title {
  font-size: 2rem;
  padding: 20px;
}

.yellow {
  color: #e3cd00;
  font-size: 2rem;
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navbar img {
  height: 60px;
  margin: 10px;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid transparent;
  border-bottom: 1px solid transparent; /* BORDER TEST*/
  transition: border-color 0.3s ease-in-out;
}
.navbar-links a:hover {
  border-bottom: 1px solid white; /* BORDER TEST*/
  box-sizing: border-box;
  background-color: #000227;
}
.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    transition: 2s;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links li {
    border: 1px solid white; /* BORDER TEST*/
    margin-bottom: 20px;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
.main {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main .main-text {
  order: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-align: center;
}
.main img {
  width: 100%;
}
.main h1 {
  font-size: 2rem;
  margin: 10px 0;
}
.main h2 {
  font-size: 1rem;
  line-height: 26px;
}
@media (min-width: 650px) {
  .main img {
    width: 46%;
    margin: 0 2%;
    order: 2;
  }
  .main .main-text {
    order: 1;
    justify-content: flex-start;
    align-items: flex-start;
    width: 46%;
    margin: 0 2%;
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .main img {
    width: 46%;
    margin: 0 2%;
    order: 2;
  }
  .main .main-text {
    order: 1;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    margin: 0 5%;
  }
}

.prices {
  margin-bottom: 20px;
}
.prices .buttons {
  border-radius: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 40px 0;
}
.prices .buttons button {
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid white;
  width: 50%;
  padding: 15px 10px;
  font-weight: 800;
}
@media (min-width: 650px) {
  .prices .buttons button {
    width: 25%;
  }
}
.prices .buttons button:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
}
.prices tr:nth-child(even),
.prices th {
  background-color: #06083a;
  background-color: #10003e;
}
.prices .tg {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}
.prices .tg td {
  border-color: white;
  border-style: solid;
  border-width: 0px;
  font-size: 0.8rem;
  overflow: hidden;
  padding: 20px 5px;
  text-align: center;
}
.prices .tg .double {
  width: 70%;
}
.prices .tg td :nth-child(2) {
  text-align: right;
}
.prices .tg .tg-0pky {
  text-align: center;
}
.prices .tg th {
  border-color: white;
  border-style: solid;
  border-width: 0px;
  font-size: 0.8rem;
  font-weight: normal;
  overflow: hidden;
  padding: 20px 5px;
  word-break: normal;
}
.prices .tg tr:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
}

.contact {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact h2 {
  width: 100%;
}
.contact .info-container {
  width: 100%;
}
.contact .info {
  margin: 10px 0;
  width: 100%;
  height: 14%;
  display: flex;
  align-items: center;
}
.contact .info img {
  width: 30px;
  margin-right: 10px;
}
.contact .info h4 {
  font-size: 1rem;
}
.contact .info h5 {
  font-size: 1rem;
}
.contact .info:hover {
  padding: 0px 0px 0px 5px;
}
.contact .planets {
  display: none;
}
@media (min-width: 650px) {
  .contact .planets {
    display: block;
    width: 40%;
    height: 40%;
    margin: 5%;
    max-width: 600px;
  }
  .contact .info-container {
    width: 50%;
    width: 40%;
    margin: 5%;
  }
  .contact .info {
    margin: 15px 0;
  }
  .contact .info img {
    width: 40px;
    margin-right: 10px;
  }
  .contact .info h4 {
    font-size: 1rem;
  }
  .contact .info h5 {
    font-size: 0.9rem;
  }
}
@media (min-width: 1400px) {
  .contact .info {
    margin: 30px 0;
  }
  .contact .info img {
    width: 50px;
    margin-right: 10px;
  }
}

.footer {
  display: flex;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 5px;
  color: rgb(109, 109, 109);
}
.footer #facebook {
  text-decoration: none;
  cursor: pointer;
}

div:empty {
  display: none;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-top: 10px;
  font-size: 0.8rem;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #f44336;
}

.closebtn:hover {
  color: black;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */