@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  color: white;
  background-color: #000227;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0 5%;
}

.yellow {
  color: #e3cd00;
}

.navbar {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar img {
  height: 60px;
  margin: 10px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links li {
    border: 1px solid white;
    /* BORDER TEST*/
    margin-bottom: 20px;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  margin: 20px 0;
  width: 100%;
  border: 1px solid red;
  /* BORDER TEST*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main img {
  width: 100%;
}

.main h1 {
  font-size: 24px;
  line-height: 58px;
}

.main h2 {
  font-size: 16px;
  line-height: 26px;
}

.buttons {
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons button {
  font-size: 0.6rem;
  border: 1px solid white;
  width: 25%;
  padding: 5px;
  font-weight: 800;
}

.tg {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}

.tg td {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200vh;
}
/*# sourceMappingURL=style.css.map */