@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
$primary: #000227;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;

$sm: 0.8rem;
$mdsm: 0.9rem;
$md: 1rem;
$lg: 1.8rem;

html {
  scroll-behavior: smooth;
}
* {
  color: white;
  background-color: #000227;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  @media (min-width: 650px) {
    font-size: 16px;
  }
  @media (min-width: 1400px) {
    font-size: 22px;
  }
}
body {
  margin: 0 5%;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1400px;
}

.title {
  font-size: $lg;
  padding: 20px;
}
.yellow {
  color: #e3cd00;
  font-size: $lg;
}
///////////////////////////////////
.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  img {
    height: 60px;
    margin: 10px;
  }
}

.navbar-links {
  height: 100%;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-bottom: 1px solid transparent; /* BORDER TEST*/
    transition: border-color 0.3s ease-in-out;
  }
  a:hover {
    border-bottom: 1px solid white; /* BORDER TEST*/
    box-sizing: border-box;
  }

  li:hover {
    background-color: #555;
  }
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    transition: 2s;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    li {
      border: 1px solid white; /* BORDER TEST*/
      margin-bottom: 20px;
    }

    ul {
      width: 100%;
      flex-direction: column;
    }

    ul li {
      text-align: center;
    }

    ul li a {
      padding: 0.5rem 1rem;
    }
  }

  .navbar-links.active {
    display: flex;
  }
}

///////////////////////////////////
.main {
  margin: 50px 0;
  width: 100%;

  //border: 1px solid red; /* BORDER TEST*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .main-text {
    //border: 1px solid red; /* BORDER TEST*/
    order: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  img {
    width: 100%;
  }
  h1 {
    font-size: $lg;
    margin: 10px 0;
  }
  h2 {
    font-size: $md;
    line-height: 26px;
  }
  @media (min-width: 650px) {
    img {
      width: 46%;
      margin: 0 2%;
      order: 2;
    }
    .main-text {
      order: 1;
      justify-content: flex-start;
      align-items: flex-start;
      width: 46%;
      margin: 0 2%;
    }
  }
  @media (min-width: 1400px) {
    img {
      width: 46%;
      margin: 0 2%;
      order: 2;
    }
    .main-text {
      order: 1;
      justify-content: flex-start;
      align-items: flex-start;
      width: 40%;
      margin: 0 5%;
    }
  }
}
///////////////////////////////////

.prices {
  margin-bottom: 20px;

  .buttons {
    border: 1px solid #ffffff;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    button {
      cursor: pointer;
      font-size: $sm;
      border: 1px solid white;
      width: 25%;
      //min-width: 120px;
      padding: 15px 5px;
      font-weight: 800;
    }
  }

  .tg {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    td {
      border-color: white;
      border-style: solid;
      border-width: 1px;

      font-size: $sm;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    th {
      border-color: white;
      border-style: solid;
      border-width: 1px;
      font-size: $sm;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
  }
}
///////////////////////////////////

///////////////////////////////////

.contact {
  margin-bottom: 20px;
  width: 100%;
  //border: 1px solid red; /* BORDER TEST*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    width: 100%;
  }
  .info-container {
    width: 100%;
    //border: 1px solid blue; /* BORDER TEST*/
  }
  .info {
    margin: 10px 0;
    width: 100%;
    height: 14%;
    //border: 1px solid red; /* BORDER TEST*/
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 10px;
    }
    h4 {
      font-size: $md;
    }
    h5 {
      font-size: $md;
    }
  }
  .planets {
    display: none;
  }
  @media (min-width: 650px) {
    .planets {
      display: block;
      width: 40%;
      height: 40%;
      margin: 5%;
      max-width: 600px;
      //border: 1px solid blue; /* BORDER TEST*/
    }
    .info-container {
      width: 50%;
      width: 40%;
      margin: 5%;
      //border: 1px solid blue; /* BORDER TEST*/
    }
    .info {
      margin: 15px 0;

      img {
        width: 40px;
        margin-right: 10px;
      }
      h4 {
        font-size: $md;
      }
      h5 {
        font-size: $mdsm;
      }
    }
  }
  @media (min-width: 1400px) {
    .info {
      margin: 30px 0;
      img {
        width: 50px;
        margin-right: 10px;
      }
    }
  }
}
///////////////////////////////////
.footer {
  display: flex;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  //height: 200vh;
  margin: 5px;
  color: rgb(109, 109, 109);
  #facebook {
    text-decoration: none;
    cursor: pointer;
  }
}
